.modal {
    background: #FAECC5; 
    padding: 5px;
    box-sizing: content-box;
    
}
/*나가기 버튼*/
.modalAction {
    border: 1px solid #0e4f1f; /*테두리*/
    background: #0e4f1f;
    color: white;
    border-radius: 10px; /*곡선*/
    font-size: 15px;
    padding: 5px;
    float: right; /*우측*/
    font-family: "wild";
}
/*모달 창*/
.titleModal{
    
    padding: 15px;
    background: #FAECC5;
    position: fixed;
    top: 25%;
    left: 40%; /*위치*/
    border-radius: 10px;
    width: 330px;
    height: 350px; /*높이, 너비*/
    
}
/*모달 내용*/
.modalText{
  padding: 25px;
}

/*등록하기 버튼*/
.push{
    border: 1px solid #0e4f1f; /*테두리*/
    background: #0e4f1f;
    color: white;
    border-radius: 5px; /*곡선*/
    font-size: 15px;
    padding: 5px;
    font-family: "wild";
}

.input{
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
    font-family: "wild"
}

.wirte{
    font-family: "wild";
}

@font-face {
    font-family: "wild" ;
    src: url("./fonts/wild.ttf");
 }